<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    {{#if name}}
    <a class="navbar-brand" href="/">S2K VLOG</a>
    {{else}}
    <a class="navbar-brand" href="/login">S2K VLOG</a>
    {{/if}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if name}}
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img
              src=""
              class="user-avatar" alt="">
            {{name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Create course</a>
            <a class="dropdown-item" href="/me/stored/courses">My course</a>
            <a class="dropdown-item" href="/me/stored/courses">My course</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <form action="/logout?_method=DELETE" method="POST">
              <a class="dropdown-item"><button type="submit">Logout</button></a>
            </form>
          </div>
        </li>
        {{else}}
        <li class="nav-item dropdown"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item dropdown"><a href="/register" class="nav-link">Register</a></li>
        {{/if}}
      </ul>

    </div>
  </div>
</nav>